@media screen and (max-width: 750px) {
  .container_screen-two {
    -webkit-flex-direction: column;
    flex-direction: column !important; }

  .container_screen-three {
    -webkit-flex-direction: column;
    flex-direction: column !important;
    padding: 20px 80px !important; }

  .aside_left {
    display: none !important; }

  .aside_right {
    display: none !important; }

  .content {
    width: 100% !important; }

  .container_screen-four {
    width: 100% !important;
    padding: 40px 70px !important; }

  .container_screen-two .content {
    padding: 15px 10px !important; }

  .screen-four {
    padding: 20px 0 !important; }

  .text-h4 {
    font-size: 0.55rem !important;
    margin-top: 64px !important; } }
.main-page {
  width: 100% vw;
  background-color: #f4f4f4;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.header {
  width: 100%;
  background-color: #600f91;
  padding: 5px;
  font-weight: bold;
  font-size: 0.75rem;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .header .subs {
    white-space: pre-line; }
  .header .icon {
    align-items: center;
    padding: 15px 15px; }
    .header .icon:hover {
      border-bottom: 92px solid #c44bcb;
      transition: all 2s ease-in-out; }
  .header .navigation-left {
    display: flex;
    justify-content: center; }
    .header .navigation-left .nav-logo {
      background-image: url("logo.jpg");
      width: 110px;
      height: auto;
      background-size: contain;
      align-items: center;
      background-repeat: no-repeat;
      z-index: 10;
      margin-top: 8px; }
  .header .navigation-center {
    display: flex;
    justify-content: center; }
  .header .navigation-right {
    display: flex;
    justify-content: center; }
    .header .navigation-right .border {
      border-right: 1px solid white;
      border-right-style: groove; }
    .header .navigation-right .store {
      background-repeat: no-repeat; }
    .header .navigation-right .profile {
      background-repeat: no-repeat; }

.screen-one {
  height: calc(100%vh - 40px);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column; }
  .screen-one .screen-background {
    background-image: url("water.jpg");
    background-size: cover;
    height: calc(100vh - 40px);
    width: 100%;
    background-position: center; }
  .screen-one .live-pure {
    font-size: 120px;
    letter-spacing: -5px;
    display: flex;
    flex: 1;
    position: absolute;
    justify-content: flex-end;
    color: white;
    vertical-align: middle; }

.screen-two {
  height: calc(100%vh - 40px);
  width: 100%;
  background-color: #f1f7f2; }

.container_screen-two {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%; }
  .container_screen-two .aside_left {
    width: 25%;
    position: relative; }
    .container_screen-two .aside_left .bottle_left {
      height: auto;
      width: auto;
      padding: 150px 0 0 0;
      margin-left: -220px;
      position: absolute; }
  .container_screen-two .content {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 15px 0; }
    .container_screen-two .content .text-h1 {
      color: #600f91;
      font-weight: bold;
      font-size: 40px;
      text-align: center; }
    .container_screen-two .content .text-h2 {
      color: rgba(140, 140, 140, 0.73);
      font-weight: bold;
      font-size: 1rem;
      text-align: center;
      padding: 45px 0;
      line-height: 25px; }
    .container_screen-two .content .text-h3 {
      color: #600f91;
      font-weight: bold;
      font-size: 1rem;
      text-align: center;
      padding: 15px 15px;
      line-height: 22px;
      background-color: rgba(233, 227, 227, 0.73); }
    .container_screen-two .content .text-h4 {
      color: rgba(140, 140, 140, 0.73);
      font-weight: bold;
      font-size: 0.75rem;
      text-align: center;
      padding: 15px 0;
      margin-top: 185px; }
  .container_screen-two .aside_right {
    width: 25%;
    position: relative; }
    .container_screen-two .aside_right .bottle_right {
      height: auto;
      width: auto;
      padding: 130px 0 0 80px;
      margin-right: -220px;
      position: absolute; }

.screen-three {
  height: calc(100%vh - 40px);
  background-image: url("sky.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed; }
  .screen-three .container_screen-three {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 100px 170px;
    max-width: 100%;
    height: auto; }
    .screen-three .container_screen-three .box {
      padding: 15px 40px;
      background-color: rgba(128, 18, 18, 0.51);
      text-align: center; }
      .screen-three .container_screen-three .box .box-stamp1 {
        background-image: url("example.png");
        max-width: 100%;
        height: auto; }
      .screen-three .container_screen-three .box .box-title {
        color: white;
        font-size: 1.125rem;
        margin-bottom: 10px;
        font-weight: normal; }
      .screen-three .container_screen-three .box .box-text {
        color: white;
        font-size: 0.75rem;
        font-weight: normal;
        line-height: 20px; }

.screen-four {
  width: 100%;
  padding: 150px 0 20px 0;
  background-color: #f1f7f2; }

.container_screen-four {
  width: 70%;
  margin: auto;
  padding: 45px 145px;
  background-color: #600f91; }
  .container_screen-four h1 {
    color: white;
    font-weight: bold;
    font-size: 57px;
    letter-spacing: -2px;
    text-align: center; }
  .container_screen-four h3 {
    color: rgba(216, 184, 213, 0.62);
    font-size: 0.75rem;
    line-height: 20px; }
  .container_screen-four .main_benefit {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .container_screen-four .main_benefit .benefit_box {
      display: flex;
      flex-direction: row;
      padding: 6px; }
      .container_screen-four .main_benefit .benefit_box .check {
        width: 50px;
        height: 50px; }
      .container_screen-four .main_benefit .benefit_box .benefit_text {
        color: white;
        font-size: 1.125rem;
        font-weight: bold;
        margin-top: 20px; }

.deliver {
  color: white;
  font-size: 0.5rem;
  margin: 10px 10px;
  margin-bottom: 35px;
  text-align: center;
  line-height: 60px; }

.enter {
  border: 2px solid white;
  color: white; }
  .enter .click {
    background-color: #600f91;
    text-align: center;
    padding: 10px; }
    .enter .click:hover {
      background-color: white;
      color: #600f91;
      cursor: pointer; }

.screen-five {
  width: 100%;
  padding: 120px 0 0 0;
  background-color: #f1f7f2; }
  .screen-five .instagram-title {
    color: #600f91;
    font-weight: bold;
    font-size: 1.875rem;
    text-align: center; }

.container_screen-five {
  width: 95%;
  margin: auto;
  padding: 20px 20px; }
  .container_screen-five .instagram_text_bottom {
    color: rgba(140, 140, 140, 0.73);
    font-weight: bold;
    font-size: 0.75rem;
    text-align: center;
    padding: 15px 0 2px 0;
    margin-top: 100px; }
  .container_screen-five .row-top {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    margin-bottom: 65px;
    margin-top: 30px; }
    .container_screen-five .row-top .inbox {
      height: 200px; }
    .container_screen-five .row-top .img1 {
      background-image: url("d.jpg");
      background-size: contain;
      background-position: bottom;
      background-repeat: no-repeat;
      width: 320px;
      margin: 5px; }
    .container_screen-five .row-top .img2 {
      background-image: url("b.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      width: 320px;
      margin: 5px; }
    .container_screen-five .row-top .img3 {
      background-image: url("c.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      width: 320px;
      margin: 5px; }
    .container_screen-five .row-top .img4 {
      background-image: url("a.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      width: 320px;
      margin: 5px; }
    .container_screen-five .row-top .img5 {
      background-image: url("e.jpg");
      background-size: contain;
      background-position: bottom;
      background-repeat: no-repeat;
      width: 320px;
      margin: 5px; }
    .container_screen-five .row-top .img6 {
      background-image: url("f.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      width: 320px;
      margin: 5px; }
  .container_screen-five .row-bottom {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    height: 200px; }
    .container_screen-five .row-bottom .img7 {
      background-image: url("g.jpg");
      background-size: contain;
      background-position: bottom;
      background-repeat: no-repeat;
      width: 320px;
      margin: 5px; }
    .container_screen-five .row-bottom .img8 {
      background-image: url("h.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      width: 320px;
      margin: 5px; }
    .container_screen-five .row-bottom .img9 {
      background-image: url("i.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      width: 320px;
      margin: 5px; }
    .container_screen-five .row-bottom .img10 {
      background-image: url("j.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      width: 320px;
      margin: 5px; }
    .container_screen-five .row-bottom .img11 {
      background-image: url("k.jpg");
      background-size: contain;
      background-position: bottom;
      background-repeat: no-repeat;
      width: 320px;
      margin: 5px; }
    .container_screen-five .row-bottom .img12 {
      background-image: url("l.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      width: 320px;
      margin: 5px; }

.screen-six {
  height: calc(100%vh - 40px);
  width: 100%;
  background-color: rgba(233, 227, 227, 0.73); }
  .screen-six .partners {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 10px 10px 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto; }
    .screen-six .partners .partner_box {
      width: 200px;
      height: 70px;
      background-repeat: no-repeat;
      background-size: contain;
      opacity: 0.2; }
    .screen-six .partners .partner_1 {
      background-image: url("icon.png");
      background-position: center center; }
    .screen-six .partners .partner_2 {
      background-image: url("icon.png");
      background-position: center center; }
    .screen-six .partners .partner_3 {
      background-image: url("icon.png");
      background-position: center center; }
    .screen-six .partners .partner_4 {
      background-image: url("icon.png");
      background-position: center center; }
    .screen-six .partners .partner_5 {
      background-image: url("icon.png");
      background-position: center center; }
    .screen-six .partners .partner_6 {
      background-image: url("icon.png");
      background-position: center center; }
    .screen-six .partners .partner_7 {
      background-image: url("icon.png");
      background-position: center center; }

.screen-seven {
  background-color: #600f91;
  width: 100%;
  padding: 15px 0 80px 0;
  color: white; }
  .screen-seven .footer-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: row; }
    .screen-seven .footer-container .policy {
      padding-right: 70px;
      font-size: 0.625rem;
      line-height: 17px; }
      .screen-seven .footer-container .policy #penta {
        font-size: 2.24rem;
        font-weight: bold;
        margin-bottom: 15px; }
    .screen-seven .footer-container .list {
      font-size: 0.625rem;
      padding-right: 40px;
      line-height: 17px; }
      .screen-seven .footer-container .list p {
        margin-bottom: 14px;
        font-weight: bold; }
      .screen-seven .footer-container .list li {
        list-style-type: none; }
    .screen-seven .footer-container .signup {
      font-size: 1rem;
      padding-left: 330px;
      height: 50px; }
      .screen-seven .footer-container .signup .email {
        margin-top: 5px;
        background-color: #600f91;
        color: white;
        border: none;
        padding-bottom: 7px;
        border-bottom: 1px solid white; }

.icon-cart:before {
  content: "\e93a";
  font-size: 30px; }

.icon-user:before {
  content: "\e971";
  font-size: 30px; }

/*# sourceMappingURL=style.css.map */
