//colors//
$color-white: white;
$color-violet: rgb(96, 15, 145);
$color-grey: rgba(140, 140, 140, 0.73);
$color-bg-grey: rgba(233, 227, 227, 0.73);

//font size//
$font-size8: 0.5rem;
$font-size10: 0.625rem;
$font-size12: 0.75rem;
$font-size16: 1rem;
$font-size18: 1.125rem;
$font-size20: 2.24rem;
$font-size30: 1.875rem;
